h1{
    color: rgb(30, 255, 0);
}
.one-but{
    color:yellow;
    margin: -3vw 0vw 0vw -23.44vw;  
    position: absolute;
    font-size: 20px;
    background-color: #4c65af;
}
.possun{
    position: relative; 
    left: -35vw;
    bottom: -15vw;
}
.utb{
    position: relative;
    margin-bottom: 5.21vw;
    left: 0.78vw;
}
.ps{
    color:rgb(30, 255, 0);
    position: relative;
    left: 42vw;
    bottom: 27vw;
    max-inline-size: 75ch;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.possun1{
    position: relative; 
    left: -30vw;
    top: 45vw;
}