h1{
    color: rgb(247, 0, 255);
}
.one-but{
    color:yellow;
    margin: -3vw 0vw 0vw -23.44vw;  
    position: absolute;
    font-size: 20px;
    background-color: #4c65af;
}   
.utb{
    position: relative;
    margin-bottom: 9vw;
    left: 0.78vw;
}
.possun{
    position: relative; 
    left: -38vw;
    bottom: -21vw;
}
.ps{
    color:rgb(237, 169, 239);
    position: relative;
    left: 42vw;
    bottom: 48vw;
    max-inline-size: 75ch;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.possun1{
    position: relative; 
    left: 40vw;
    top: 25vw;
}