h1{
    color: rgb(255, 191, 81);
}
.one-but{
    color:yellow;
    margin: -3vw 0vw 0vw -23.44vw;  
    position: absolute;
    font-size: 20px;
    background-color: #4c65af;
}   
.utb{
    position: relative;
    margin-bottom: 5.21vw;
    left: 0.78vw;
}
.possun{
    position: relative; 
    left: -38vw;
    bottom: -17vw;
}
.ps{
    color:rgba(255, 220, 43, 0.99);
    position: relative;
    left: 42vw;
    bottom: 68vw;
    max-inline-size: 75ch;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.possun1{
    position: relative; 
    left: 32vw;
    top: 23vw;
}